/reference/*.pdf
/references.bib
/program/pcf/build
/program/experiment/build
/program/dist
/hdv
/docs
*.o
*.dat
*.ply
octave-workspace
/misc
/root
/program/pcf/doc
/program/output
/program/results
/paper/*
