General
	In-memory point cloud
	Rearrange in-place using swaps
	Memory-mapped file for large pount cloud
	Enable Eigen SIMD vectorization
	Representation of affine/projective transformation, pose
	Relative registration of different assets (not, coarse, fine, etc.)

Input/Output
	import/export point cloud from PLY

Transformation Estimation
	different methodes (SVD, quat, …)

Point cloud structures
	Unstructured
	Octree/KdTree (with >>1 leaf capacity)
	Range Image (2.5, points on XY grid)
	Dense Octree representation? (1 leaf cap)

Downsampling
	Random
	others (uniform, based on point saliency, keypoints etc)

Closest point finding (point-to-point)
	on different point cloud structures
	for KDtree: Saga2004

K Nearest Neightbors
	Sank2007: efficient algorithms

Computation of Normals
	using kNN	

Computation of local TIN mesh
	kNN
	local oriented cuboid (matrix PCA)
	triangulation of 2D projection

Range Image
	To/From Range Point Cloud
	Image Registration (feature detectors, Hough transf, …)
	Superresolution using photo (Bart2009, Yang2007)
	Hole filling (Do2012)


Point Set Registration
	ICP impl with many possible variants (templated)
		Point choice
		Point correspondences
		Correspondence weighting&rejection
		Transformation Estimation
		Error metric
		Exit condition
	Correspondences:
		Point to Point (both in PC)
		Point to position (e.g. point to plane/mesh)
		Gaussian Distribution to Gaussian Distribution (Generalized ICP)
	Error Metrics:
		Euclidian distance (default)
		include color data, others


User Interface
	Collect statistics
	Test procedures on ranges of parameters
	Visualize (intermediary) data, correspondences, etc

